.gitignore
README.md

package.json
pnpm-lock.yaml
pnpm-workspace.yaml   (solo si usás workspaces / monorepo)

next.config.mjs
next-env.d.ts

tsconfig.json
tailwind.config.js
postcss.config.js

eslint.config.mjs

components.json
.env.local
.next/
node_modules/
tsconfig.tsbuildinfo
demo/